:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: black;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1,
h2 {
  color: #eb8317;
  font-family: "Caveat", serif;
  font-size: 2rem;
  text-align: center;
}

h1 {
  font-size: 4rem !important;
}

.page-title-deco::after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background-color: #eb8317;
  margin: 0px auto 0;
}
