.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
.container-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0.5rem;
}

.custom-link-title {
  color: #eb8317;
  font-size: 18px;
  font-weight: 700;
}
.custom-link-title:hover {
  text-decoration: underline;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.board-card {
  flex: 1;
  flex-direction: column;
  padding: 1rem;
  margin: 0.5rem 0 0.5rem 0;

  background-color: #fff8e6;
  border-radius: 10px;
}

.board-title-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 12px 0px;
  padding-block: 0.5rem;
  padding-inline: 1rem;

  font-size: 22px;
  align-items: center;
  font-weight: 700;
  color: #eb8317;
  background-color: #ffebd3;

  border-radius: 10px;
}

.task-board-footer {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .board-container {
    grid-template-columns: 1fr;
  }
}