.task-card {
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.15);
}
.task-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.task-container input,
.task-container textarea {
  width: 100%;
  margin: 0.1rem 0 0.1rem 0;
  padding-left: 0.5rem;
  height: 3rem;
  max-width: 18rem;

  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;

  --color: #eb8317;
  background-color: transparent;
  border: 2px solid var(--color);
  border-radius: 10px;
}

.task-container-input-label {
  color: rgb(75 85 99);
  font-size: 16px;
  font-weight: 600;
}

.task-container-input-value {
  color: black;
  font-size: 18px;
  font-weight: 600;
}
.title {
  font-weight: 600;
  color: rgb(31 41 55);
}

.description {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(75 85 99);
}

.actions-container {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0 0 0;
  color: black;
}

.actions-container input {
  padding: 0.8rem;
  width: 100%;
  font-size: 15px;
  border: 1px solid rgb(75 85 99);
  border-radius: 10px;
  background-color: transparent;
}

.container-delete {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.actions-delete {
  width: 30%;
  background-color: transparent;
  padding: 0.5rem;

  font-size: 16px;
  font-weight: 600;
  border: 2px solid red;
  color: red;
  border-radius: 10px;

  transition: background-color 0.3s ease;
}

.actions-delete:hover {
  background-color: rgba(255, 0, 0, 0.4);
}

.separator {
  cursor: pointer;
  margin: 0.8rem 0 0.8rem 0;
  padding: 0.5rem 0 0.5rem 0;
  border-bottom: 1px dashed rgb(204, 204, 204);
}

.actions {
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: rgb(17 24 39);
  font-weight: 500;
  border-radius: 0.5rem;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border: none;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.actions:hover {
  background-color: rgb(55 65 81);
}

.actions:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
